@model WebApplication.Models.GuessModel


is it <h2>@Html.DisplayTextFor(s => s.Person.Name) ?</h2>


@Html.RadioButtonFor(model => model.Decision, true) Yes
@Html.RadioButtonFor(model => model.Decision, false) No

<input id="yes" type="submit" value="Find out." onclick="location.href='@Url.Action("Guess", "Home")'" />
