@{
    ViewBag.Title = "Come inside";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

      $('#btnInside').click(function (e)
      {
          location.href = '@Url.Content("~/Home/Guess")';
      });

    });
</script>

<p class="lead">Come inside, tarnished one. And your name shall be revealed.</p>
<input id="btnInside" type="button" value="Step inside &raquo;" />

